[submodule "mox-imager"]
	path = mox-imager
	url = git@gitlab.labs.nic.cz:turris/mox-imager.git
[submodule "atf-marvell"]
	path = atf-marvell
	url = https://github.com/MarvellEmbeddedProcessors/atf-marvell
	branch = atf-v1.5-armada-18.09
[submodule "u-boot"]
	path = u-boot
	url = git@gitlab.labs.nic.cz:turris/mox-u-boot.git
