[submodule "mox-imager"]
	path = mox-imager
	url = https://gitlab.labs.nic.cz/turris/mox-imager
[submodule "u-boot"]
	path = u-boot
	url = https://gitlab.labs.nic.cz/turris/mox-u-boot
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://gitlab.labs.nic.cz/turris/mox-arm-trusted-firmware
