[submodule "mox-imager"]
	path = mox-imager
	url = https://gitlab.nic.cz/turris/mox-imager.git
[submodule "u-boot"]
	path = u-boot
	url = https://gitlab.nic.cz/turris/u-boot.git
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://gitlab.nic.cz/turris/trusted-firmware-a.git
